.shopByRoom {
  background-color: #ffffff;
}
.shopByRoom__title h1 {
  padding-top: 4rem;
  font-size: 3rem;
  font-family: "FuturaPTMedium", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.shopByRoom__container {
  padding: 6rem 14rem;
  display: grid;
  grid-template-columns: 1fr 25px 1fr;
  grid-template-rows: 260px 50px 25px 260px;
}
.shopByRoom__imageContainer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 65%;
     object-position: 100% 65%;
}
.shopByRoom__imageContainer {
  display: flex;
}
.shopByRoom__imageContainer h1 {
  z-index: 10;
  position: absolute;
  margin: 1rem 2rem;
  font-size: 2.2rem;
  text-transform: uppercase;
}
.shopByRoom__imageContainer a {
  z-index: 10;
  position: absolute;
  margin: 5rem 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.shopByRoom__imageContainer a:focus {
  outline: none;
}
.shopByRoom__image-1 {
  grid-column: 1;
  grid-row: 1/span 2;
}
.shopByRoom__image-2 {
  grid-column: 3;
  grid-row: 1;
}
.shopByRoom__image-3 {
  grid-column: 1;
  grid-row: 4;
}
.shopByRoom__image-3 img {
  transform: scaleX(-1);
}
.shopByRoom__image-4 {
  grid-column: 3;
  grid-row: 2/span 3;
}
.shopByRoom__image-4 img {
  transform: scaleX(-1);
}

@media (max-width: 1000px) {
  .shopByRoom__title h1 {
    font-size: 2.8rem;
  }
  .shopByRoom__container {
    padding: 4rem 8rem;
  }
}
@media (max-width: 800px) {
  .shopByRoom__title h1 {
    padding-top: 3rem;
  }
  .shopByRoom__container {
    padding: 3rem 5rem;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 260px 50px 20px 260px;
  }
}
@media (max-width: 600px) {
  .shopByRoom__container {
    padding: 3rem 3rem;
    row-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px 200px;
  }
  .shopByRoom__image-1 {
    grid-column: 1;
    grid-row: 1;
  }
  .shopByRoom__image-2 {
    grid-column: 1;
    grid-row: 2;
  }
  .shopByRoom__image-3 {
    grid-column: 1;
    grid-row: 3;
  }
  .shopByRoom__image-4 {
    grid-column: 1;
    grid-row: 4;
  }
}
@media (max-width: 500px) {
  .shopByRoom__title h1 {
    font-size: 2.3rem;
    padding-top: 2rem;
  }
  .shopByRoom__container {
    padding: 1rem 0;
  }
}