@import "../../../sassStyles/variables.scss";
@import "./TrendAndNews/trendsNews.css";

.trends {
    padding-bottom: 10rem;
    background-color: $color-white;
    &__container {
        padding-top: 4rem;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    &__imageContainer {
        max-height: 460px;
        z-index: 10;
        img {
            max-height: 100%;
            width: 100%;
            object-fit: cover;
            margin: auto;
        }
        &-1 {
            width: 45%;
        }
    }
    &__description {
        padding: 2rem;
        position: absolute;

        h2 {
            font-family: "FuturaPTLight", sans-serif;
        }
        h1 {
            text-transform: uppercase;
        }

        a {
            text-transform: uppercase;
            font-family: "FuturaPTBook", sans-serif;
        }
    }
}

@media (max-width: 1000px) {
    .trends {
        &__imageContainer {
            max-height: 390px;
        }
    }
}
@media (max-width: 500px) {
    .trends {
        &__imageContainer {
            max-height: 300px;
        }
    }
}