.dropdown {
    padding-right: 30px;
}

.dropdown h1 {
    font-weight: 500;
}

.dropdown select {
    min-width: 80px;
    font-family: 'FuturaPTBook', sans-serif;
}

.dropdown-item {
    color: #91A5BE;
}
